<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyApp Index</title>
</head>
<body>
    <h1>寛容アプリ</h1>

<form method="post">
    {% csrf_token %}

  <p>
    <label>出来事</label><br>
    <select name="style">
      <option value="casual">タメ語</option>
      <option value="polite">敬吾</option>
      <option value="mix">混合</option>
      <option value="kansai">関西弁</option>  
    </select>
    </p>
    
    <p>
      <label>出来事</label><br>
      <textarea name="what" rows="4" cols="40"></textarea>
    </p>

  <button type="submit">送信</button>
</form>
 
{% if reply %}
<hr>
<h3>励ましメッセージ</h3>
<p>{{ reply }}</p>
{% endif %}
</body>
</html>